*, *::after, *::before {
    box-sizing: border-box;
}

code {
	font-family: 'Source Code Pro';
	font-size: 0.7rem;
}

/* The 'container' is contained by the body. Has Margins. */
/* 
	Look up CSS3 Flex properties! 'flex' is relative to other
	flexbox items.
*/
.container {
	display: -webkit-flex;
  	display: flex;
	max-width: 100%;
	margin: 0px auto;

	flex-wrap: wrap;
}

.flex-column {
 	-webkit-flex: 1;
	flex: 1;
}

body {
	font-family: Open Sans, Verdana, sans-serif;
	font-size: 1em; 
	color: black;
	/*padding: 1em;*/
}

/* Navigation */
nav a {
	text-decoration: none;
}

.button-nav {
	width: 100%;
}

.toplink {
	color: #11151B;
}

.toplink.active {
	color: #E94B69;
}

/* Hiding Menus */
.topbar .container nav ul {
	list-style:none;
	position:relative;
	float:left;
	margin:0;
	padding:0
}

.topbar .container nav ul a {
	display: block;
	line-height: 2rem;
	padding:0 1rem;
	margin: 0 2rem 0 2rem;
}

.topbar .container nav ul:after {
	content: ""; clear: both; display: block;
}

.topbar .container nav ul li {
	position:relative;
	float:left;
	margin:0;
	padding:0;

	transition: 0.5s;
}

.topbar .container nav ul ul {
	display:none;
	position:absolute;
	top:100%;
	left:2rem;
	padding: 0;
}

.topbar .container nav ul ul li {
/*	float: none;*/
	width: 7rem;
	float: none;
}

.topbar .container nav ul li:hover,
.topbar .container nav ul li:focus {
	background-color: #DBD6D6;
}

.topbar .container nav ul ul a {
	line-height:120%;
	padding: 0.7rem 1rem;
	margin: 0;
}

.topbar .container nav ul li:hover > ul {
	display: block;
	color: #E94B69;
	background-color: #DBD6D6;
}

.topbar {
	/*background-color: #DBD6D6;*/
	background-color: #f1f1f1;
	box-shadow: 0 0.3rem 0.1rem rgba(200, 200, 200, 0.2);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 0.2rem;
	z-index: 999;
}

.topbar .container {
	height: 2rem;
 	align-items: center;
	-webkit-justify-content: space-around; /* Safari */
	justify-content: space-around;
}
.topbar .container a {
	margin: 2rem;
}

.top-nav-button {
	-webkit-flex: 1;
	flex: 1;
}

article {
	text-align: left;
	margin: 2rem 0; 
	padding: 2rem; 
	/*border: 1px solid blue;*/
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* General Button Structure */
.button-nav {
	display: inline-block;
	text-align: center;
	text-decoration: none;	
	padding: 1em 1em;

	-webkit-transition: background-color 0.5s;
	transition: background-color 0.5s;
	border-radius: 0.2rem;
}

/* Styling for Button 1*/
.active.button-nav.bg1 {
	background-color: #E94B69;
	border-bottom: solid 0.2rem #700C2A;
	font-weight: bold;
}

.button-nav.bg1, .button-nav.bg1:visited {
	
	background-color: #700C2A;
	color: #FFFFFF;
	border-bottom: solid 0.2rem #290812;
}
.button-nav.bg1 {
	width: 8rem;
}

.button-nav.bg1:hover, .button-nav.bg1:active, .button-nav.bg1:focus {
	background-color: #E94B69;
	border-bottom: solid 0.2rem #700C2A;
	color: white;
}


/* Button 2 configuration */
.button-nav.bg2, .button-nav.bg2:visited {
	background-color: #384448;
	color: #FFFFFF;
	border-bottom: solid 0.2rem #11151B;
}
.button-nav.bg2 {
	background-color:#384448;
	width: 8rem;
	border-bottom: solid 0.2rem #000;
}

.button-nav.bg2:hover, .button-nav.bg2:active, .button-nav.bg2:focus {
	background-color: #11151B;
	color: white;
}

/*Hero image and text*/
.container-header{
    text-align: center;
    align-item: center;
    text-colour: white;
    padding-top: 8rem;
    padding-bottom: 8rem;

    background-image: url("http://data.hdwallpapers.im/outer_space_planets_digital_art_artwork_wide_mobile.jpg");
    background-repeat: no-repeat;
    max-width: 100%;
    max-height: 100%;

}

h1.hero{
	font-size: 4rem; 
	font-weight: lighter;
	letter-spacing: 0.005em;
	color: #FFFFFF;
	line-height: auto;
}
h3.hero {
	font-weight: lighter;
	font-size: 1.5rem;
	margin-bottom: 0.5rem;
	font-style: italic;
	color: #FFFFFF;
	line-height: 0.25rem;
}

.container-footer{
	text-align: left;
    background-color: gray;
}


/* Headers, m'boy! HEADERS! */
h1 {
	font-size: 3rem; 
	font-weight: lighter;
	margin-bottom: 0.5rem;
	margin-top: 0.5rem;
	letter-spacing: 0.005em;
}

h1.heading{
	font-size: 3rem; 
	font-weight: 400;
	/*margin-top: 4rem;*/
	letter-spacing: 0.005em;
	color: #E94B69;
}

h2 {
	font-weight: normal;
	font-size: 1.5rem; 
	letter-spacing: 0.005em;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

/*for header dividers*/
h2.divider{
	margin: 1em 0;
	padding: 0.5em 0;
	border-top: 0.06em solid #DBD6D6;
	color: #700C2A;
	font-weight: 600;
}


h3 {
	font-weight: lighter;
	font-size: 1.25rem;
	margin-bottom: 0.5rem;
	font-style: italic;
}

/* Body Texts and Lists*/
p, ul, ol {
	font-size: 1rem;
	line-height: 1.3em; 
	text-align: left;
	font-weight: normal;
}

/* Standard Image/Figure Code */
img {
	height: auto; 
	width: auto;
	max-width: 100%;
	/*border: 1px solid #888888; */
}


figure {
	margin: 0;
}


figcaption {
	font-size: 0.8rem;
	font-style: italic;
}

/* Some Fancy Shit (tm)*/
figure.fancy img {
	max-width: 100%;
}

figure.fancy {
    display: block; 
    position: relative; 
    overflow: hidden;
}

figcaption.fancy {
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
    width: 100%;
    padding: 1.5rem;
    color: #FFF;
    background: rgba(0, 0, 0, 0.75);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
    font-style: normal;
}


a {
	color: #E94B69; 
	transition: 0.5s;
}


a:visited {
	color: #384448;
}


a:active, a:hover, a:focus {
	color: #E94B69; 
	/*text-decoration: none;*/
}


/*Self Added*/

/*for the colour palette boxes*/
div.box {
	width: 150px;
	height: 150px;
	display: inline-block;
}

#darkred {
	background-color: #700C2A;
}

#lightred {
	background-color: #E94B69;
}

#grey {
	background-color: #DBD6D6;
}

#bluegrey{
	background-color: #384448;
}

#darkbluegrey{
	background-color: #11151B;
}

p.colour-block{
	font-family: Open Sans, verdana, sans serif;
	font-size: 1.5rem;
	text-align: center;
	color: #FFFFFF;
}

input, textarea{
	border-color:#DBD6D6;
	border-style: solid;
	border-radius: 0.3em;
	padding: 0.25em;
	width: 40%;
}

@media (min-width: 40em) {
	.container {
		max-width: 75%;
		margin: auto;
	}
}